<div class="planets__wrapper">
  <nav>
    <div class="pagination">
      <button class="btn left" (click)="changePage('left')" [disabled]="currentPage <= 1">
        <fa name="chevron-left"></fa>
      </button>
      <button class="btn right" (click)="changePage('right')" [disabled]="currentPage >= pagination">
        <fa name="chevron-right"></fa>
      </button>
    </div>
    <div class="pagination__counter">{{this.currentPage}} / {{this.pagination}}</div>
    <div class="select__wprapper">
      <select class="select__pagination" (change)="changeSizePage()" [(ngModel)]="currentSize" name="gender">
        <option *ngFor="let option of pageSizeOptions" [value]="option">
          {{option}}
        </option>
      </select>
      <span class="select__highlight"></span>
      <span class="select__bar"></span>
    </div>
  </nav>
  <section class="search__wrapper">
    <div class="search__input">
      <input type="text" (keyup)="search()" [(ngModel)]="searchingValue" class="search__input">
      <fa name="search"></fa>
    </div>
  </section>
  <ul class="planets__list">
    <li *ngFor="let planet of planets" routerLink="/detail/{{planet.id}}">
      <div class="planets__info">
        <div class="info__badge">{{planet.name}}</div>
        <div class="info__container">
          <span class="info__shortcut">population: {{planet.population}}</span>
          <span class="info__list-hidden">
            terrain: {{planet.terrain}}<br>
            climate: {{planet.climate}}
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>
