<nav>
  <div class="pagination">
    <button (click)="changePage('left')" class="left"> left </button>
    <button class="right" (click)="changePage('right')"> right </button>
  </div>
  <select (change)="changeSizePage()" [(ngModel)]="currentSize" name="gender">
    <option *ngFor="let option of pageSizeOptions" [value]="option">
      {{option}}
    </option>
  </select>
</nav>

<ul class="planets">
  <li *ngFor="let planet of planets">
    <a routerLink="/detail/{{planet.id}}">
      <span class="badge">{{planet.name}}</span> {{planet.population}}
    </a>
  </li>
</ul>
